HW4/Homework/node-red
[
    {
        "id": "c98d80befb633e63",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0547cea2124404ea",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09847b31301f386d",
        "type": "tab",
        "label": "流程3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fb0ae38cf05ae2d",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "0532656b745afd9f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "938ebabfd224a502",
        "type": "ui_tab",
        "name": "首頁",
        "icon": "info",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e484704efd2f3ea",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "938ebabfd224a502",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "040d6c3fd670c21c",
        "type": "ui_tab",
        "name": "報表",
        "icon": "line-chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8661f7523874f53c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "040d6c3fd670c21c",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "274789fa59570a98",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "938ebabfd224a502",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "704d16c1020ac3a1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "d7df782e42587575",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "406bd4b2a83160c0",
        "type": "ui-page",
        "name": "Home",
        "ui": "704d16c1020ac3a1",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "d7df782e42587575",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "30d6e3acfb8b8c86",
        "type": "ui-group",
        "name": "My Group",
        "page": "406bd4b2a83160c0",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "22344863c5e63b62",
        "type": "ui-page",
        "name": "HW - Todo list",
        "ui": "704d16c1020ac3a1",
        "path": "/todolist",
        "icon": "home",
        "layout": "grid",
        "theme": "",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4b510d9339b6b82a",
        "type": "ui-group",
        "name": "CHECK",
        "page": "22344863c5e63b62",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "172c78e4a40f30b4",
        "type": "ui-group",
        "name": "CREATE",
        "page": "22344863c5e63b62",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "503e110dabe409ae",
        "type": "ui-group",
        "name": "DELETE",
        "page": "22344863c5e63b62",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bdae7028a0d53bfe",
        "type": "ui-group",
        "name": "PUT",
        "page": "22344863c5e63b62",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7bbcbc59004c7e47",
        "type": "ui-page",
        "name": "Class04",
        "ui": "704d16c1020ac3a1",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "e212487f21e14905",
        "type": "ui-group",
        "name": "My Group",
        "page": "7bbcbc59004c7e47",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "52d0192410166a81",
        "type": "ui-event",
        "z": "c98d80befb633e63",
        "ui": "704d16c1020ac3a1",
        "name": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "1132b8d9393c71dc"
            ]
        ]
    },
    {
        "id": "8ab3321fad7c76c3",
        "type": "ui-control",
        "z": "c98d80befb633e63",
        "name": "Redirect to HOME",
        "ui": "704d16c1020ac3a1",
        "events": "all",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4715ac81b53dc576",
        "type": "ui-form",
        "z": "c98d80befb633e63",
        "name": "",
        "group": "30d6e3acfb8b8c86",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "帳號",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "密碼",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "確認",
                "key": "check",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "check": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 230,
        "y": 340,
        "wires": [
            [
                "ae3c578e353aa99d"
            ]
        ]
    },
    {
        "id": "1132b8d9393c71dc",
        "type": "function",
        "z": "c98d80befb633e63",
        "name": "function 16",
        "func": "var username = global.get('username'); \nif(!username) {\n    msg.payload = {\n        \"tab\": \"HOME\"\n            };\n    return msg;\n                }\n    return null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "8ab3321fad7c76c3"
            ]
        ]
    },
    {
        "id": "ae3c578e353aa99d",
        "type": "function",
        "z": "c98d80befb633e63",
        "name": "function 17",
        "func": "global.set('username', msg.payload.username); \nmsg.payload = {\n    url: `http://127.0.0.1:1880/dashboard/todolist?username=` + msg.payload.username\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "c86b57275a7b05c4"
            ]
        ]
    },
    {
        "id": "c86b57275a7b05c4",
        "type": "ui-control",
        "z": "c98d80befb633e63",
        "name": "",
        "ui": "704d16c1020ac3a1",
        "events": "all",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0a8f5e494203a662",
        "type": "ui-button",
        "z": "0547cea2124404ea",
        "group": "172c78e4a40f30b4",
        "name": "新增 Todo list",
        "label": "新增 Todo list",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9eb6252e8715c31c"
            ]
        ]
    },
    {
        "id": "74594b2b64b4014c",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "d9f6e4778d7c576c",
        "type": "ui-table",
        "z": "0547cea2124404ea",
        "group": "172c78e4a40f30b4",
        "name": "create",
        "label": "text",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "63cb5d8861e33dc2",
        "type": "http request",
        "z": "0547cea2124404ea",
        "name": "POST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8008/todoapi/todolist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "17fb8acb82d576d4"
            ]
        ]
    },
    {
        "id": "ea7ccf2015521b80",
        "type": "http request",
        "z": "0547cea2124404ea",
        "name": "DELET",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "34bebd19b2ff92db",
                "bba80b3c1febcfc6"
            ]
        ]
    },
    {
        "id": "bba80b3c1febcfc6",
        "type": "json",
        "z": "0547cea2124404ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "c56be15f7f551555",
                "5acd6c900a44eada"
            ]
        ]
    },
    {
        "id": "c56be15f7f551555",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "5acd6c900a44eada",
        "type": "ui-table",
        "z": "0547cea2124404ea",
        "group": "503e110dabe409ae",
        "name": "delete",
        "label": "text",
        "order": 3,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "7a0529af759a4328",
        "type": "ui-text-input",
        "z": "0547cea2124404ea",
        "group": "503e110dabe409ae",
        "name": "DELET ID input",
        "label": "DELET ID input",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "e2d89d29719aa17e"
            ]
        ]
    },
    {
        "id": "e2d89d29719aa17e",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "function 5",
        "func": "let todoId = msg.payload; // 获取输入的 ID\nif (!todoId) {\n    return [null, { payload: \"ID is required.\" }]; // 返回错误消息\n}\n\n// 继续构建 DELETE 请求\nmsg.url = `http://localhost:8008/todoapi/todolist/${todoId}`; // 设置请求 URL\nmsg.method = \"DELETE\"; // 设置 HTTP 方法为 DELETE\nreturn msg; // 返回消息对象以供 HTTP 请求节点使用\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 500,
        "wires": [
            [
                "ea7ccf2015521b80"
            ]
        ]
    },
    {
        "id": "34bebd19b2ff92db",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "f1fcc9ed7c1c7168",
        "type": "ui-button",
        "z": "0547cea2124404ea",
        "group": "4b510d9339b6b82a",
        "name": "查看當前 Todo list",
        "label": "查看當前 Todo list",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 168,
        "y": 322,
        "wires": [
            [
                "f6dcc62d874c8e6a"
            ]
        ]
    },
    {
        "id": "f6dcc62d874c8e6a",
        "type": "http request",
        "z": "0547cea2124404ea",
        "name": "GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8008/todoapi/todolist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 388,
        "y": 322,
        "wires": [
            [
                "096542c96fb1cc09"
            ]
        ]
    },
    {
        "id": "096542c96fb1cc09",
        "type": "json",
        "z": "0547cea2124404ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 568,
        "y": 322,
        "wires": [
            [
                "dc02d72c951edbc2",
                "230a2b5220d4e53a"
            ]
        ]
    },
    {
        "id": "dc02d72c951edbc2",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "230a2b5220d4e53a",
        "type": "ui-table",
        "z": "0547cea2124404ea",
        "group": "4b510d9339b6b82a",
        "name": "check",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 788,
        "y": 402,
        "wires": [
            []
        ]
    },
    {
        "id": "c8897235bc1dfb35",
        "type": "ui-button",
        "z": "0547cea2124404ea",
        "group": "503e110dabe409ae",
        "name": "",
        "label": "刪除 Todo list",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "7a0529af759a4328"
            ]
        ]
    },
    {
        "id": "272b9009e64587c2",
        "type": "http request",
        "z": "0547cea2124404ea",
        "name": "PUT",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "e0ab779358a41e62"
            ]
        ]
    },
    {
        "id": "9554adf385dd0873",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "function 6",
        "func": "// 获取 Flow Context 中的 ID、Task 和 Done 状态\nlet todoId = flow.get('updateId');\nlet newTask = flow.get('newTask') || '';\nlet doneStatus = flow.get('doneStatus') || false;\n\n// 检查 ID 是否有效\nif (!todoId || isNaN(todoId)) {\n        node.error(\"Invalid ID\", msg);\n            return null;\n            }\n            \n// 构建更新的 Payload\nmsg.payload = {\n        task: newTask,\n            done: doneStatus\n            };\n            \n// 设置 HTTP 请求的 URL\nmsg.url = `http://localhost:8008/todoapi/todolist/${todoId}`;\nmsg.method = \"PUT\";\n\n// 设置 Headers\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 700,
        "wires": [
            [
                "272b9009e64587c2",
                "9a963b37c0843b41"
            ]
        ]
    },
    {
        "id": "e0ab779358a41e62",
        "type": "json",
        "z": "0547cea2124404ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1210,
        "y": 700,
        "wires": [
            [
                "cce84dfab3e52cd4",
                "acb5eb66562bd25c"
            ]
        ]
    },
    {
        "id": "cce84dfab3e52cd4",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 700,
        "wires": []
    },
    {
        "id": "acb5eb66562bd25c",
        "type": "ui-table",
        "z": "0547cea2124404ea",
        "group": "bdae7028a0d53bfe",
        "name": "PUT",
        "label": "text",
        "order": 5,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1390,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5a50c70873f8a520",
        "type": "ui-text-input",
        "z": "0547cea2124404ea",
        "group": "bdae7028a0d53bfe",
        "name": "PUT Task input",
        "label": "Task input",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "90271458a5a9b24d"
            ]
        ]
    },
    {
        "id": "bc9c0c33326749bd",
        "type": "ui-switch",
        "z": "0547cea2124404ea",
        "name": "PUT Done input",
        "label": "是否完成",
        "group": "bdae7028a0d53bfe",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "17268670429b80db"
            ]
        ]
    },
    {
        "id": "407d50cd51cd5cb8",
        "type": "ui-text-input",
        "z": "0547cea2124404ea",
        "group": "bdae7028a0d53bfe",
        "name": "PUT ID input",
        "label": "ID input",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "99b7ca5a98f39730"
            ]
        ]
    },
    {
        "id": "693fdca38dd0edd0",
        "type": "ui-button",
        "z": "0547cea2124404ea",
        "group": "bdae7028a0d53bfe",
        "name": "",
        "label": "更新 Todo list",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 750,
        "y": 700,
        "wires": [
            [
                "9554adf385dd0873"
            ]
        ]
    },
    {
        "id": "99b7ca5a98f39730",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "store id function",
        "func": "flow.set('updateId', msg.payload); \nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "90271458a5a9b24d",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "store newtask function",
        "func": "flow.set('newTask', msg.payload); \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "17268670429b80db",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "store done function",
        "func": "flow.set('doneStatus', msg.payload); \nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9a963b37c0843b41",
        "type": "debug",
        "z": "0547cea2124404ea",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "25d1d04491d6f26a",
        "type": "ui-text-input",
        "z": "0547cea2124404ea",
        "group": "172c78e4a40f30b4",
        "name": "新增項目",
        "label": "新增項目",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "1501195a3516e783"
            ]
        ]
    },
    {
        "id": "1501195a3516e783",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "function 12",
        "func": "global.set('Task',msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb6252e8715c31c",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "function 13",
        "func": "const post_new_doto = {\n    task: global.get('Task'),\n    done: global.get('Done')\n};\nmsg.payload = post_new_doto;\n\n// 设置 HTTP 请求的 URL\nmsg.url = `http://localhost:8008/todoapi/todolist`;\nmsg.method = \"POST\";\n\n// 设置 Headers\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "63cb5d8861e33dc2"
            ]
        ]
    },
    {
        "id": "7804454eadb97784",
        "type": "ui-switch",
        "z": "0547cea2124404ea",
        "name": "是否完成",
        "label": "是否完成",
        "group": "172c78e4a40f30b4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "24f18d7b6ff3ae65"
            ]
        ]
    },
    {
        "id": "24f18d7b6ff3ae65",
        "type": "function",
        "z": "0547cea2124404ea",
        "name": "function 14",
        "func": "global.set('Done',msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "17fb8acb82d576d4",
        "type": "json",
        "z": "0547cea2124404ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "d9f6e4778d7c576c",
                "74594b2b64b4014c"
            ]
        ]
    },
    {
        "id": "6cae05f696c80e96",
        "type": "ui-text-input",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "username",
        "label": "username",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "cfd4bf12b5f6315d"
            ]
        ]
    },
    {
        "id": "ae49f5195c2ae626",
        "type": "ui-button",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "",
        "label": "button",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "yes",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "27ca4ce8e1771078"
            ]
        ]
    },
    {
        "id": "164f2f1cf768b0d5",
        "type": "ui-dropdown",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "role",
        "label": "Select Option:",
        "tooltip": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "A",
                "value": "a",
                "type": "str"
            },
            {
                "label": "B",
                "value": "b",
                "type": "str"
            },
            {
                "label": "C",
                "value": "c",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "bcc070a151249fe7"
            ]
        ]
    },
    {
        "id": "f61741d6edc6e42f",
        "type": "ui-switch",
        "z": "09847b31301f386d",
        "name": "remember",
        "label": "remember",
        "group": "e212487f21e14905",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "2f74646e1f9b17e0"
            ]
        ]
    },
    {
        "id": "cfd4bf12b5f6315d",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 7",
        "func": "global.set('username', msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bcc070a151249fe7",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 8",
        "func": "global.set('role',msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2f74646e1f9b17e0",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 9",
        "func": "global.set('remember', msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a7176241e0ece7b0",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 10",
        "func": "global.set('password', msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7851c94a14769703",
        "type": "ui-text-input",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "password",
        "label": "password",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "a7176241e0ece7b0"
            ]
        ]
    },
    {
        "id": "27ca4ce8e1771078",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 11",
        "func": "\nreturn {\n    global.get('username',msg.username)\n    global.get('password', msg.password)\n    global.get('role', msg.role)\n    global.get('remember', msg.remember)\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 7,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "719a7038f3b8d1bc"
            ]
        ]
    },
    {
        "id": "719a7038f3b8d1bc",
        "type": "debug",
        "z": "09847b31301f386d",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "95f4de5b883f92e2",
        "type": "ui-radio-group",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "",
        "label": "Select Option:",
        "order": 5,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "A",
                "value": "a",
                "type": "str"
            },
            {
                "label": "B",
                "value": "b",
                "type": "str"
            },
            {
                "label": "C",
                "value": "c",
                "type": "str"
            },
            {
                "label": "D",
                "value": "d",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "428e4f05bcaa543e",
        "type": "ui-file-input",
        "z": "09847b31301f386d",
        "group": "e212487f21e14905",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": true,
        "accept": "image/jpeg",
        "className": "",
        "x": 240,
        "y": 620,
        "wires": [
            [
                "58362d32d6e056ca",
                "e1a5cfaaa2ada2a8"
            ]
        ]
    },
    {
        "id": "379114179a9389ff",
        "type": "ui-form",
        "z": "09847b31301f386d",
        "name": "",
        "group": "e212487f21e14905",
        "label": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "帳號",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "密碼",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "記住密碼",
                "key": "remember",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "確認",
                "key": "check",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "稱呼",
                "key": "role",
                "type": "dropdown",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "remember": false,
            "check": false,
            "role": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "role",
                "value": "teacher",
                "label": "老師"
            },
            {
                "dropdown": "role",
                "value": "student",
                "label": "學生"
            }
        ],
        "x": 190,
        "y": 740,
        "wires": [
            [
                "c37bd988ba40cdc6",
                "32ee7632f90c72eb"
            ]
        ]
    },
    {
        "id": "58362d32d6e056ca",
        "type": "debug",
        "z": "09847b31301f386d",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "e1a5cfaaa2ada2a8",
        "type": "image viewer",
        "z": "09847b31301f386d",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c37bd988ba40cdc6",
        "type": "debug",
        "z": "09847b31301f386d",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "9757bb9c01ea8293",
        "type": "ui-event",
        "z": "09847b31301f386d",
        "ui": "704d16c1020ac3a1",
        "name": "",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "d35133aa364a0dab"
            ]
        ]
    },
    {
        "id": "d35133aa364a0dab",
        "type": "debug",
        "z": "09847b31301f386d",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 840,
        "wires": []
    },
    {
        "id": "75e027f32749fc50",
        "type": "ui-control",
        "z": "09847b31301f386d",
        "name": "",
        "ui": "704d16c1020ac3a1",
        "events": "all",
        "x": 640,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "32ee7632f90c72eb",
        "type": "function",
        "z": "09847b31301f386d",
        "name": "function 15",
        "func": "msg.payload={\n    url : `http://127.0.0.1:1880/dashboard/todolist?username=` + msg.payload.username\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "75e027f32749fc50"
            ]
        ]
    }
]
